@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.text-underline {
  text-decoration: underline;
}

.text-no-underline {
  text-decoration: none;
}
